:host {
  max-height: inherit;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

.graph-header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.content-div {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  max-height: 100%;
  width: 100%;
}

.sidebar {
  flex: 0 1 auto;
}

.right-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  padding-right: 16px;
}

.graph {
  flex: 1 1 auto;
}

.graph-caption {
  flex: 0 1 100px;
}
