@if (dataTypesIsError) {
  <div>
    <error-page [errorMessage]="dataTypesError!.message" />
  </div>
} @else {
  @if (!dataTypes || dataTypesIsLoading) {
    <div>
      <loading-page />
    </div>
  } @else {
    <div class="container">
      <graph-header class="graph-header" [rightHeader]="rightHeader" />
      <div class="content-div">
        <graph-sidebar [dataTypes]="dataTypes!" [selectDataType]="setSelectedDataType" class="desktop-sidebar" />
        <div class="right-container">
          <graph [limitRange]="!onFaultPage" [valuesSubject]="selectedDataTypeValuesSubject" class="graph" />
          <graph-caption [dataType]="selectedDataType" [currentValue]="currentValue" class="graph-caption">
            <ng-template #buttons>
              @if (onFaultPage) {
                <fault-buttons [onClearData]="clearDataType" />
              } @else {
                <general-buttons
                  [onRunSelected]="onRunSelected"
                  [onClearDataType]="clearDataType"
                  [onSetRealTime]="onSetRealtime"
                />
              }
            </ng-template>
            <ng-template #rightInfo>
              @if (onFaultPage) {
                <fault-display-info />
              } @else {
                <general-display-info [run]="run" />
              }
            </ng-template>
          </graph-caption>
        </div>
        <graph-sidebar [dataTypes]="dataTypes!" [selectDataType]="setSelectedDataType" class="mobile-sidebar" />
      </div>
    </div>
  }
}
