<div class="image-container" style="margin-right: 16px; margin-left: 16px">
  <sidebar-toggle style="position: absolute; margin-top: 16px; margin-left: 16px" />

  <charging-page-mobile style="width: 100%" *ngIf="isMobile; else isDesktop" [time]="time" />
  <ng-template #isDesktop>
    <vstack style="width: 100%" spacing="15px">
      <div style="align-self: end; width: 100%; display: flex; justify-content: space-around">
        <typography
          style="margin-bottom: -30px; margin-top: -10px"
          variant="large-header"
          [content]="time | date: 'HH:mm:ss'"
        />
        <typography
          style="margin-bottom: -30px; margin-top: -10px"
          variant="large-header"
          content="{{ time | date: 'MM/dd/yyyy' }} | {{ location }} "
        />
        <latency-display style="margin-bottom: -30px; margin-top: -10px" />
      </div>

      <hstack style="width: 100%">
        <vstack style="width: 20%" spacing="15px">
          <state-of-charge-display style="height: 142px; width: 100%" />
          <fault-display style="height: 580px; width: 100%" />
        </vstack>
        <vstack style="width: 80%" spacing="15px">
          <hstack style="width: 100%">
            <charging-state style="width: 25%" />
            <battery-status-display style="width: 25%" />
            <BMS-mode-display style="width: 25%" />
            <pack-temp style="height: 142px; width: 25%" />
          </hstack>
          <div style="width: 100%; height: 580px; display: flex; flex-direction: column; justify-content: space-between">
            <cell-temp-display style="width: 100%; height: 200px" />
            <high-low-cell-display style="width: 100%; height: 200px" />
            <hstack style="width: 100%">
              <pack-voltage-display style="height: 150px; width: 80%" />
              <current-display style="height: 150px; width: 20%" />
            </hstack>
          </div>
        </vstack>
      </hstack>
    </vstack>
  </ng-template>
</div>
