<div class="background">
  <p-tree
    [value]="treeNodes"
    styleClass="w-full md:w-[30rem]"
    (onNodeSelect)="nodeSelect()"
    (onNodeUnselect)="onNodeUnselect($event)"
    [(selection)]="selectedNodes"
    [filter]="true"
    filterPlaceholder="Select Data Type"
    styleClass="w-full"
    [autofocus]="true"
    [style]="{ height: '80vh', overflow: 'auto' }"
    [metaKeySelection]="false"
    selectionMode="multiple"
  >
    <ng-template let-node pTemplate="default">
      <div class="tree-node-container">
        <div [style]="{ display: 'flex', alignItems: 'center', justifyContent: 'space-between' }">
          <typography additionalStyles="padding: 0px;" [content]="node.label" variant="sidebar-label" />
          @if (node.children.length === 0) {
            <typography [content]="node.data.displayValue.value" variant="subheader" />
          }
        </div>
      </div>
    </ng-template>
  </p-tree>
</div>
