.background {
  width: 28vw;
  margin-left: 30px;
  max-height: 80vh;
  margin-top: 10px;
}

::ng-deep .p-tree {
  background: transparent !important; /* Removes background */
  border: none !important; /* Optional: Removes border */
}
