<info-background title="Segment 1" svgIcon="battery_charging_2">
  <vstack spacing="20px">
    <vstack spacing="0px">
      <hstack spacing="0px">
        <typography variant="info-value" [content]="31 + '°'" />
        <typography variant="info-unit" [content]="'C'" additionalStyles="padding-top: 20px" />
      </hstack>
      <typography variant="info-subtitle" [content]="'Temperature'" additionalStyles="" />
    </vstack>
    <divider style="width: 100px" />

    <vstack spacing="0px" style="margin-top: -10px">
      <hstack spacing="0px">
        <typography variant="info-value" [content]="31 + '°'" />
        <typography variant="info-unit" [content]="'V'" additionalStyles="" />
      </hstack>
      <typography variant="info-subtitle" [content]="'Voltages'" additionalStyles="" />
    </vstack>
    <divider style="width: 100px" />
    <vstack spacing="0px" style="margin-top: -5px">
      <hstack spacing="0px">
        <typography variant="info-value" [content]="31 + '°'" />
        <typography variant="info-unit" [content]="'C'" />
      </hstack>
      <typography variant="info-subtitle" [content]="'Chip Temp'" additionalStyles="" />
    </vstack>
    <toast-button label="See More ➜" additionalStyles="background-color: #2aaeee; color: black" style="margin-top: 20px" />
  </vstack>
</info-background>
