<info-background [title]="'Segment ' + segmentNumber()" svgIcon="battery_charging_2">
  <vstack spacing="20px">
    <info-value-display style="margin-top: 10px" containerStyle="" [value]="temperature" unit="C" subtitle="Temperature" />

    <divider style="width: 100px; margin-top: 15px" />
    <info-value-display style="margin-top: -5px" [value]="31" unit="V" subtitle="Voltages" />
    <divider style="width: 100px; margin-top: 25px" />
    <info-value-display style="margin-top: -5px" containerStyle="" [value]="alphaChipTemp" unit="C" subtitle="Chip Temp" />
    <toast-button
      label="See More ➜"
      additionalStyles="background-color: #2aaeee; color: black; border-radius: 20px"
      style="margin-top: 20px"
    />
  </vstack>
</info-background>
