<div class="image-container" style="margin-right: 16px; margin-left: 16px">
  <sidebar-toggle style="position: absolute; margin-top: 16px; margin-left: 16px;" />

  <landing-page-mobile style="width: 100%" *ngIf="isMobile; else isDesktop" [time]="time" />
  <ng-template #isDesktop>
    <vstack style="width: 100%" spacing="40px">
      <hstack style="width: 100%">
        <vstack style="width: 50%">
          <typography style="width: 100%; text-align: center" variant="xx-large-title" [content]="time | date: 'HH:mm:ss'" />
          <driver-component style="width: 100%" />
        </vstack>

        <vstack style="width: 50%">
          <typography variant="header" content="{{ time | date: 'MM/dd/yyyy' }} | {{ location }} " />

          <hstack style="width: 100%">
            <viewer-display style="height: 200px; width: 33%" />
            <latency-display style="height: 200px; width: 33%" />
            <connection-display style="height: 200px; width: 33%" />
          </hstack>
        </vstack>
      </hstack>
      <hstack style="width: 100%">
        <vstack style="width: 50%" spacing="20px">
          <speed-over-time-display style="width: 100%" />
          <acceleration-over-time-display style="width: 100%" />
        </vstack>

        <acceleration-graphs style="width: 60%; height: 550px" />
      </hstack>

      <hstack style="width: 100%">
        <map-info-display style="width: 50%" />

        <vstack style="width: 50%">
          <hstack>
            <transmission-display />
            <torque-display />
          </hstack>
          <motor-info style="width: 100%; height: 250px"> </motor-info>
        </vstack>
      </hstack>

      <hstack style="width: 100%; height: 250px">
        <raspberry-pi style="width: 80%; height: 250px" />
        <brake-pressure-display style="height: 250px; width: 20%" />
      </hstack>

      <hstack style="width: 100%; height: 250px">
        <steering-angle-display style="width: 20%; height: 250px" />
        <battery-info-display style="width: 80%; height: 250px" />
      </hstack>
    </vstack>
  </ng-template>
</div>
