.server-status-body {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  flex-direction: column; /* Stack children vertically */
}

.server-status-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: inherit; /* Color is set dynamically */
  margin-bottom: 9px; /* Space between the dot and the text */
}

/* Assuming typography component renders to a span with class 'typography' */
.server-status-body .status-indicator .typography {
  font-size: 0.75rem; /* Adjust this value as needed */
  text-align: center; /* Center the text */
  color: #fff; /* White text color */
  font-weight: normal; /* Adjust weight as needed */
}
