.server-status-body {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  flex-direction: column;
}

.server-status-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: inherit;
  margin-bottom: 9px;
}

.server-status-body .status-indicator .typography {
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
