<vstack style="width: 100%" spacing="20px">
  <typography variant="xx-large-title" content="Argos"></typography>
  <typography variant="x-large-title" [content]="time | date: 'HH:mm:ss'"></typography>
  <typography variant="x-large-title" content="{{ time | date: 'MM/dd/yyyy' }}"></typography>

  <driver-component style="width: 100%"></driver-component>

  <speed-over-time-display style="width: 100%"></speed-over-time-display>
  <acceleration-over-time-display style="width: 100%"></acceleration-over-time-display>

  <acceleration-graphs style="width: 100%"></acceleration-graphs>

  <map-info-display style="width: 100%"></map-info-display>

  <motor-info style="width: 100%; height: 250px"></motor-info>
  <battery-info-display style="width: 100%; height: 250px"></battery-info-display>
  <raspberry-pi style="width: 100%"></raspberry-pi>
</vstack>
