.caption-container {
  display: flex;
  height: 150px;
  margin-top: 10px;
}

.info-container {
  font: small-caption;
  width: 100%;
  bottom: 0;
  background-color: #323232;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  padding-right: 16px;
  padding-left: 16px;
  flex: 1;
}

.left-info {
  text-align: left;
}
