.caption-container {
  display: flex;
  height: 170px;
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100%;
  margin: 0px 5px 0px 15px;
}

.info-container {
  font: small-caption;
  width: 100%;
  bottom: 0;
  background-color: #323232;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  padding-right: 16px;
  padding-left: 16px;
  flex: 1;
}

.left-info {
  text-align: left;
}

.right-info {
  text-align: right;
}
