.cell-tile-full-view {
  border-radius: 10px;
  background-color: grey;
  width: 6.4vw;
  height: 13vh;
  max-width: 200px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease; /* Optional for a smooth transition */
}

.cell-tile-seven-view {
  border-radius: 10px;
  background-color: grey;
  width: 11vw;
  height: 13vh;
  max-width: 200px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease; /* Optional for a smooth transition */
}
