
.thermometer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 40px;
}

.wifi-dbm-unit {
  font-size: 18px;
  color: gray;
  padding-top: 22px;
}

.mat-icon {
  font-size: 26px;
  color: rgb(21, 142, 255);
}
