@if (headerLabel()) {
  <div class="header">
    @if (headerIcon()) {
      <mat-icon aria-hidden="false" [svgIcon]="headerIcon()" class="header-icon" />
    }
    <span class="header-label">{{ headerLabel() }}</span>
  </div>
}

<div class="value-row">
  <span class="value">{{ formattedValue() }}</span>
  <span class="unit" [class.unit-below]="unitBelow()">{{ unit() }}</span>
  @if (connectionDotStatusColor(); as statusColor) {
    <connection-dot-with-message [getStatusColor]="statusColor" style="margin-left: 5px" />
  }
  <ng-content />
</div>

@if (subtitle()) {
  <span class="subtitle">{{ subtitle() }}</span>
}
