<info-background svgIcon="electric_meter" title="Pack. Voltage" [button]="resetGraphButton">
  <vstack>
    <div *ngIf="!isDesktop" style="padding-top: 20px"></div>
    <hstack>
      <hstack style="width: 15%">
        <typography variant="info-value" [content]="voltage.toString() + 'V'" />
      </hstack>
      <pack-voltage-graph
        style="width: 80%; padding-bottom: 5vh"
        [resetGraph]="resetGraph"
        *ngIf="isDesktop"
      ></pack-voltage-graph>
    </hstack>
    <pack-voltage-graph
      style="width: 100%; padding-bottom: 5vh"
      [resetGraph]="resetGraph"
      *ngIf="!isDesktop"
    ></pack-voltage-graph>
  </vstack>
</info-background>
