header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

[header-left] {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

[header-right] {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  [header-left] {
    margin-left: 0px;
  }

  [header-right] {
    margin-right: 10px;
  }
}
