<info-background svgIcon="quickreply" title="Status">
  <div style="display: flex; justify-content: space-between; align-items: flex-start; height: 80%">
    <vstack style="width: 45%">
      <active-status [displayLight]="lightsOn" />
      <faulted-status [displayLight]="lightsOn" />
    </vstack>
    <divider style="height: 300px" />
    <vstack style="width: 45%">
      <charging-status [displayLight]="lightsOn" />
      <balancing-status [displayLight]="lightsOn" />
    </vstack>
  </div>
</info-background>
