<div class="confirm-content">
  <p>The following {{ rules.length }} rule(s) will be added:</p>
  <div class="rules-preview">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Topic</th>
          <th>Expression</th>
          <th>Debounce (s)</th>
        </tr>
      </thead>
      <tbody>
        @for (rule of rules; track rule.id) {
          <tr>
            <td>{{ rule.id }}</td>
            <td>{{ rule.topic }}</td>
            <td>{{ rule.expr }}</td>
            <td>{{ rule.debounce_time }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="button-row">
    <button pButton label="Cancel" class="p-button-text" (click)="onCancel()"></button>
    <button pButton label="Confirm Upload" (click)="onConfirm()"></button>
  </div>
</div>
