.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 8px;
}

.title-style {
  display: grid;
  align-items: center;
  margin-top: -20px;
}

.fault-text-body {
  height: 700px;
  display: flex;
  align-items: left;
  justify-content: left;
  overflow-y: auto;
}
