<info-background title="At A Glance" svgIcon="battery_charging_2">
  <hstack justifyContent="space-evenly" class="bms-container">
    <vstack>
      <!-- Voltage -->
      <info-value-display [value]="voltage" unit="V" subtitle="Voltage" />
    </vstack>
    <div class="divider"></div>

    <!-- Temperature -->
    <vstack>
      <hstack>
        <info-value-display [value]="temperature" unit="C" subtitle="Temperature" />
        <div class="thermometer-container">
          <thermometer [temperature]="temperature" [min]="-15" [max]="30" />
        </div>
      </hstack>
    </vstack>
    <div class="divider"></div>

    <!-- Charge State -->
    <vstack>
      <hstack>
        <info-value-display [value]="chargeState" unit="%" subtitle="Charge State" />
        <battery-percentage [percentage]="chargeState" [height]="50" [width]="25" />
      </hstack>
    </vstack>
    <div class="divider"></div>

    <!-- CCL -->
    <vstack>
      <hstack>
        <info-value-display [value]="ccl" unit="A" subtitle="CCL" />
      </hstack>
    </vstack>
    <div class="divider"></div>

    <!-- DCL -->
    <vstack>
      <hstack>
        <info-value-display [value]="ccl" unit="A" subtitle="DCL" />
      </hstack>
    </vstack>
  </hstack>
</info-background>
