<info-panel title="At A Glance" svgIcon="battery_charging_2" padding="6px 20px 14px">
  <div class="glance-bar">
    <glance-stat [value]="voltage" unit="V" subtitle="Average Voltage">
      @if (this.enableWidgets) {
        <connection-dot-with-message [getStatusColor]="this.getStatusColor" style="margin-left: 5px" />
      }
    </glance-stat>
    <div class="divider"></div>

    <glance-stat [value]="temperature" unit="C" subtitle="Average Temp." [unitBelow]="true">
      @if (this.enableWidgets) {
        <glance-thermometer [temperature]="temperature" [min]="-15" [max]="30" />
      }
    </glance-stat>
    <div class="divider"></div>

    <glance-stat [value]="chargeState" unit="%" subtitle="Charge State" [unitBelow]="true">
      @if (this.enableWidgets) {
        <glance-battery [percentage]="chargeState" />
      }
    </glance-stat>
    <div class="divider"></div>

    <glance-stat [value]="this.ccl" unit="A" subtitle="CCL" />
    <div class="divider"></div>

    <glance-stat [value]="this.dcl" unit="A" subtitle="DCL" />
    <div class="divider"></div>

    <glance-stat
      [value]="this.highVoltage"
      unit="V"
      [precision]="3"
      subtitle="High Voltage"
      [headerLabel]="this.getCellChipLabel(this.highVoltageCell, this.highVoltageChip)"
      headerIcon="battery"
    />
    <div class="divider"></div>

    <glance-stat
      [value]="this.lowVoltage"
      unit="V"
      [precision]="3"
      subtitle="Low Voltage"
      [headerLabel]="this.getCellChipLabel(this.lowVoltageCell, this.lowVoltageChip)"
      headerIcon="battery"
    />
    <div class="divider"></div>

    <glance-stat
      [value]="this.highTemp"
      unit="C"
      [precision]="2"
      subtitle="High Temp."
      [unitBelow]="true"
      [headerLabel]="this.getCellChipLabel(this.highTempCell, this.highTempChip)"
      headerIcon="battery"
    />
  </div>
</info-panel>
