.bms-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100px;
}

.hstack {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.info-value {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.info-unit {
  font-size: 18px;
  color: #aaa;
}

.info-subtitle {
  font-size: 14px;
  color: #ccc;
}

.divider {
  width: 2px;
  height: 50px;
  background-color: #555;
}

.thermometer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 28px;
}
