/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #101010;
}

/* WebKit (Chrome, Safari) scrollbar styles */
::-webkit-scrollbar {
  display: none;
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: none; /* "thin" or "auto" for Firefox */
  scrollbar-color: #888 #f1f1f1; /* Thumb color Track color */
}
