/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
@import '~@fontsource/material-icons/index.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #101010;
}

/* WebKit (Chrome, Safari) scrollbar styles */
::-webkit-scrollbar {
  display: none;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: none;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent !important;
}

.p-dialog-header {
  background-color: #262626 !important;
  color: white !important;
  border-radius: 20px 20px 0px 0px !important;
}
.p-dialog-content {
  background-color: #262626 !important;
  color: white !important;
  border-radius: 0px 0px 20px 20px !important;
}

.p-sidebar {
  background-color: #ef4345 !important;
  color: white !important;
  width: 200px !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
