/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #101010;
}

/* WebKit (Chrome, Safari) scrollbar styles */
::-webkit-scrollbar {
  display: none;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: none;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent !important;
}
