/* eFuses Page Styles */

.efuse-card {
  background: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rtds-section {
  margin-top: 0px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.zone-title {
  padding-top: 20px;
  font-weight: 900;
  font-size: 50px;
}

.zone-subtext {
  padding-bottom: 10px;
}
