<info-background title="At A Glance" svgIcon="battery_charging_2">
  <hstack justifyContent="space-evenly" class="bms-container">
    <!-- Voltage -->
    <info-value-display
      [value]="voltage"
      unit="V"
      subtitle="Average Voltage"
      [widget]="this.connectionDotConfig"
      [enableWidget]="this.enableWidgets"
      size="medium"
    />
    <div class="divider"></div>

    <!-- Temperature -->
    <info-value-display
      [value]="temperature"
      unit="C"
      subtitle="Average Temperature"
      [widget]="this.thermometerConfig"
      [enableWidget]="this.enableWidgets"
      size="medium"
    />
    <div class="divider"></div>

    <!-- Charge State -->
    <info-value-display
      [value]="chargeState"
      unit="%"
      subtitle="Charge State"
      [widget]="this.batteryConfig"
      [enableWidget]="this.enableWidgets"
      size="medium"
    />
    <div class="divider"></div>

    <!-- CCL -->
    <info-value-display [value]="this.ccl" unit="A" subtitle="CCL" size="small" />
    <div class="divider"></div>

    <!-- DCL -->
    <info-value-display [value]="this.dcl" unit="A" subtitle="DCL" size="small" />
    <div class="divider"></div>

    <!-- Volts High Value -->
    <acc-high-voltage style="width: 5%; height: 5%" />
    <div class="divider"></div>

    <!-- Volts Low Value -->
    <acc-low-voltage></acc-low-voltage>
    <div class="divider"></div>

    <!-- High Temp -->
    <acc-high-temp></acc-high-temp>
  </hstack>
</info-background>
