@if (isMobile || this.sidebarVisible) {
  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
      <typography style="width: 100%; text-align: center" variant="large-header" content="Argos" />
    </ng-template>
    <ng-template pTemplate="content">
      @for (navItem of allNavItems; track navItem) {
        <sidebar-chip
          icon="{{ navItem.icon }}"
          value="{{ navItem.label }}"
          [active]="this.isSelected(navItem)"
          (click)="navItem.onClick()"
        >
        </sidebar-chip>
      }
    </ng-template>
  </p-sidebar>
} @else {
  <nav class="navbar">
    <div class="home-logo" (click)="this.homeNavItem.onClick()">
      <mat-icon [svgIcon]="this.homeNavItem.icon" />
    </div>
    <div class="navbar-nav">
      @for (navItem of onlyDesktopNavItems; track navItem) {
        <sidebar-chip
          icon="{{ navItem.icon }}"
          value="{{ navItem.label }}"
          [small]="this.isWindowSmall"
          [active]="this.isSelected(navItem)"
          (click)="navItem.onClick()"
          additionalStyles=".mat-icon {width: 36px; height: 36px;}"
        >
        </sidebar-chip>
      }
    </div>

    <hstack>
      <toast-button
        [onClick]="this.onStartNewRun"
        buttonLabel="Start New Run"
        popUpSeverity="success"
        popUpTitle="New Run Started"
        popUpDetails="Your new run has started successfully."
        additionalStyles="height: 36px; width: 130px"
      />
      <current-run-display [navBarStyle]="true" [small]="this.isWindowSmall" />
      <typography
        [variant]="this.isWindowSmall ? 'sidebar-label' : 'large-header'"
        content="{{ time$ | async | date: 'HH:mm:ss' }}"
        additionalStyles="fontSize: 36px"
      />
      <messages-per-second />
      <button
        type="button"
        class="navbar-notification"
        aria-label="Notifications"
        (click)="notificationPanel.toggle($event)"
      >
        <mat-icon [svgIcon]="'notifications'" />
        @if (notificationLogService.unreadCount() > 0) {
          <p-badge [value]="notificationLogService.unreadCount().toString()" severity="danger" class="notification-badge" />
        }
      </button>
      <p-popover #notificationPanel (onShow)="onNotificationPanelShow()" styleClass="notification-popover">
        <ng-template #content>
          <notification-list variant="popover" />
        </ng-template>
      </p-popover>
      <div class="navbar-menu" (click)="toggleMenu()" [class.selected]="menuRef !== undefined">
        <mat-icon [svgIcon]="'apps'" />
      </div>
    </hstack>
  </nav>
}
