<nav class="navbar">
  <div class="navbar-nav">
    <sidebar-chip icon="home" value="Home" [active]="selected\ === '/landing'" (click)="navigateTo('/landing')">
    </sidebar-chip>
    <sidebar-chip
      icon="ev_station"
      value="Charging"
      [active]="selectedRoute === '/charging'"
      (click)="navigateTo('/charging')"
    >
    </sidebar-chip>
    <sidebar-chip icon="bar_chart" value="Graph" [active]="selectedRoute === '/graph'" (click)="navigateTo('/graph')">
    </sidebar-chip>
    <sidebar-chip icon="map" value="Map" [active]="selectedRoute === '/map'" (click)="navigateTo('/map')"> </sidebar-chip>
  </div>

  <div style="display: flex; align-items: center">
    <toast-button [onClick]="this.onStartNewRun" label="Start New Run" />
    <typography variant="large-header" content="{{ time$ | async | date: 'HH:mm:ss' }}" style="margin-left: 20px" />
  </div>
</nav>
