<vstack style="width: 100%" spacing="20px">
  <typography variant="x-large-title" content="Argos"></typography>
  <hstack>
    <typography variant="large-header" [content]="time | date: 'HH:mm:ss'"></typography>
    <divider style="height: 40px"></divider>
    <typography variant="large-header" content="{{ time | date: 'MM/dd/yyyy' }}"></typography>
  </hstack>
  <latency-display style="padding-bottom: 20px; margin-top: -10px" />
  <vstack style="width: 100%" spacing="15px">
    <combined-status-mobile style="width: 80%; height: 720px" />
    <state-of-charge-display style="width: 80%; height: 123px" />
    <current-display style="width: 80%; height: 122px" />
    <pack-temp style="width: 80%; height: 122px" />
    <cell-temp-display style="width: 80%; height: 210px" />
    <high-low-cell-display style="width: 80%; height: 200px" />
    <info-background style="width: 80%">
      <high-low-cell-graph></high-low-cell-graph>
    </info-background>
    <pack-voltage-display style="width: 80%; height: 120px" />
    <info-background style="width: 80%">
      <pack-voltage-graph></pack-voltage-graph>
    </info-background>
    <fault-display style="width: 80%; height: 375px" />
  </vstack>
</vstack>
