<vstack style="width: 100%" spacing="20px">
  <typography variant="x-large-title" content="Argos" additionalStyles="fontSize:40px"></typography>
  <hstack>
    <typography variant="large-header" [content]="time | date: 'HH:mm:ss'" additionalStyles="fontSize:25px"></typography>
    <divider style="height: 40px"></divider>
    <typography
      variant="large-header"
      content="{{ time | date: 'MM/dd/yyyy' }}"
      additionalStyles="fontSize:25px"
    ></typography>
  </hstack>
  <latency-display style="padding-bottom: 20px; margin-top: -10px" />
  <vstack style="width: 100%" spacing="15px">
    <combined-status-mobile style="width: 80%; height: 720px" />
    <state-of-charge-display style="width: 80%; height: 123px" />
    <current-display style="width: 80%; height: 122px" />
    <pack-temp style="width: 80%; height: 122px" />
    <cell-temp-display style="width: 80%; height: 325px" />
    <high-low-cell-display style="width: 80%; height: 325px" />
    <pack-voltage-display style="width: 80%; height: 275px" />
    <fault-display style="width: 80%; height: 375px" />
  </vstack>
</vstack>
