<mat-grid-list cols="6" gutterSize="15px" rowHeight="1.5rem">
  <mat-grid-tile [colspan]="3" rowspan="3" style="padding-left: 16px">
    <typography
      class="title-style"
      variant="x-large-title"
      [content]="this.pageTitle()"
      additionalStyles="font-size: 6vw; letter-spacing: 0.2rem; word-spacing: 0.2rem; line-height: 0px; text-align: left; margin-top: 10px"
    />
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" rowspan="3">
    <segment-selector style="height: 80%; width: 100%; margin-top: 10px" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" rowspan="3">
    <crc style="height: 80%; width: 100%; margin-top: 10px" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" rowspan="3">
    <bms-overflow style="height: 80%; width: 100%; margin-top: 10px" />
  </mat-grid-tile>
</mat-grid-list>
