<div class="image-container" style="margin-right: 16px; margin-left: 16px">
  <mat-grid-list cols="6" gutterSize="15px" rowHeight="1.5rem" style="margin-top: -20px">
    <mat-grid-tile [colspan]="6" rowspan="3">
      <!-- Display values are 1-based index for segments-->
      <bms-header
        class="bms-header"
        style="width: 100%"
        [pageTitle]="(this.changeTitleSize ? 'Seg. ' : 'Segment ') + (this.segmentId + 1)"
      />
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5">
      <segment-at-a-glance style="width: 100%; height: 100%" [segmentNumber]="this.segmentId" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="8">
      <cell-view [forSegment]="this.segmentId" style="width: 100%; height: 100%"></cell-view>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="8">
      <cell-by-cell-heat-map style="width: 100%; height: 100%" [currentSegment]="this.segmentId"></cell-by-cell-heat-map>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="8">
      <!-- Alpha -->
      <chip-diagnostics style="width: 100%; height: 100%" [chip]="this.chipAlpha" [segment]="this.segmentId" />
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="8">
      <!-- Beta -->
      <chip-diagnostics style="width: 100%; height: 100%" [chip]="this.chipBeta" [segment]="this.segmentId" />
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="10">
      <chip-faults style="width: 100%; height: 100%" [chip]="this.chipAlpha" [segment]="this.segmentId"></chip-faults>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="10">
      <chip-faults style="width: 100%; height: 100%" [chip]="this.chipBeta" [segment]="this.segmentId"></chip-faults>
    </mat-grid-tile>
  </mat-grid-list>
</div>
