<info-background icon="memory" title="Rasberry Pi">
  <circular-percentage [percentage]="100" [dimension]="2"></circular-percentage>
    <typography variant="info-value" [content]="cpuUsage.toString() + '%'" />
<divider></divider>
  <!-- <thermometer [temperature]="cpuTemp" [min]="0" [max]="100" />
     <typography variant="info-value" [content]="cpuTemp.toString() + '°'" />
    <typography variant="info-header" content="CPU Temp" />
  <circular-percentage [percentage]="ramUsage" [size]="200" [color]="color"></circular-percentage>
  <typography variant="info-value" [content]="ramUsage.toString() + '%'" />
  <typography variant="info-header" content="RAM Usage" />
  <Wifi</Wifi>!-->
  <typography variant="info-subtitle" content="MCS" />
</info-background>
