<div class="hex-grid-zone">
  <div class="hex-row top-row">
    @for (cell of topRowCells; track $index) {
      <hex-tile
        [variant]="cell.cellCount > 1 ? 'heatmap-cell-double' : 'heatmap-cell'"
        [value]="cell.value"
        [booleanValue]="cell.boolValue"
        [color]="getColor(cell)"
        [currentView]="view"
        [boxShadowColor]="isSelected(cell.reading)"
        [cellNumber]="cell.cellNum"
        (click)="cellClicked(cell)"
      />
    }
  </div>
  <div class="hex-row bottom-row">
    @for (cell of bottomRowCells; track $index) {
      <hex-tile
        [variant]="cell.cellCount > 1 ? 'heatmap-cell-double' : 'heatmap-cell'"
        [value]="cell.value"
        [booleanValue]="cell.boolValue"
        [color]="getColor(cell)"
        [currentView]="view"
        [boxShadowColor]="isSelected(cell.reading)"
        [cellNumber]="cell.cellNum"
        (click)="cellClicked(cell)"
      />
    }
  </div>
</div>
