<div class="caption-container">
  <div class="info-container">
    <div class="left-info">
      @if (dataTypeName) {
        <typography variant="large-header" [content]="dataTypeName" additionalStyles="margin: 12px 0px" />
      } @else {
        <typography variant="large-header" content="No Data Selected" additionalStyles="margin: 12px 0px" />
      }
    </div>
    <div class="right-info">
      <div [style]="{ display: 'flex', justifyContent: 'space-between', alignItems: 'center' }">
        <typography variant="header" content="Last Seen: " additionalStyles="margin-right: 10px"></typography>
        <typography variant="subheader" [content]="selectedFault?.lastSeen | date: 'HH:mm:ss'" />
      </div>
      <div [style]="{ display: 'flex', justifyContent: 'space-between', alignItems: 'center' }">
        <typography variant="header" content="Originally Occurred: " additionalStyles="margin-right: 10px"></typography>
        <typography variant="subheader" [content]="selectedFault?.occurredAt | date: 'HH:mm:ss'" />
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <argos-button
      [onClick]="onClearDataTypeWrapper"
      label="Clear Data Type"
      additionalStyles="background-color: #323232; border: 1.4px solid #027bd7"
    />
  </div>
</div>
