<info-background title="Battery" svgIcon="battery_charging_full">
  <battery-info-mobile
    *ngIf="isMobile; else isDesktop"
    style="width: 100%"
    [voltage]="voltage"
    [chargeCurrentLimit]="chargeCurrentLimit"
    [dischargeCurrentLimit]="dischargeCurrentLimit"
    [packTemp]="packTemp"
    [stateOfCharge]="stateOfCharge"
  ></battery-info-mobile>
  <ng-template #isDesktop>
    <battery-info-desktop
      style="width: 100%"
      [voltage]="voltage"
      [chargeCurrentLimit]="chargeCurrentLimit"
      [dischargeCurrentLimit]="dischargeCurrentLimit"
      [packTemp]="packTemp"
      [stateOfCharge]="stateOfCharge"
    ></battery-info-desktop>
  </ng-template>
</info-background>
