<info-background title="Faults" svgIcon="warning" [button]="resetButton">
  <div style="width: 100%; padding-right: 5px; padding-left: 0px" class="fault-text-body">
    <vstack style="width: 100%">
      <div style="height: 10px"></div>
      <ng-container *ngFor="let fault of faults; index as i">
        <div
          [style]="
            (i % 2 == 0) === faultsShifted
              ? 'background-color: #d4760b	; width: 100%; border-radius: 2px'
              : 'background-color: #4d453c; width: 100%; border-radius: 2px'
          "
        >
          <hstack>
            <typography
              variant="info-subtitle"
              [content]="fault.type"
              style="width: 33%; height: 40px; padding-top: 10px"
            ></typography>
            <typography
              variant="info-subtitle"
              [content]="fault.name"
              additionalStyles="font-weight: bold;"
              style="width: 33%; height: 40px; padding-top: 10px; width: 350px"
            ></typography>
            <typography
              variant="info-subtitle"
              [content]="fault.time"
              style="width: 33%; height: 40px; padding-top: 10px"
            ></typography>
          </hstack>
        </div>
        <div style="height: 2px"></div>
      </ng-container>
      <div style="height: 50px"></div>
    </vstack>
  </div>
</info-background>
