<hstack style="width: 100%">
  <hstack style="width: 33%; height: 145px">
    <typography variant="xx-large-title" [content]="time | date: 'HH:mm:ss'" additionalStyles="font-size: 120px;" />
  </hstack>

  <hstack style="width: 66%">
    <landing-page-date-location style="height: 95px; width: 25%" />
    <landing-page-connection-display style="height: 95px; width: 25%" />
    <landing-page-current-run-display style="height: 95px; width: 25%" />
    <landing-page-viewer-display style="height: 95px; width: 25%" />
  </hstack>
</hstack>
