<info-background svgIcon="electric_meter" title="Cell Voltage" [button]="resetGraphButton">
  <hstack spacing="30px">
    <vstack style="width: 10%">
      <hstack>
        <typography
          variant="info-value"
          [content]="delta.toFixed(3) + 'V'"
          additionalStyles="fontSize:40px"
          *ngIf="isDesktop"
        />
        <typography
          variant="info-value"
          [content]="delta.toFixed(3) + 'V'"
          additionalStyles="fontSize:20px"
          *ngIf="!isDesktop"
        />
      </hstack>
      <typography variant="info-subtitle" content="Delta" additionalStyles="fontSize:15px" />
    </vstack>

    <!--TODO: temp fix for divider setting pixel height: is only way for divider to show-->
    <divider style="height: 100px"></divider>

    <vstack style="width: 10%">
      <typography
        variant="info-value"
        [content]="lowCellVoltage.toFixed(3) + 'V'"
        additionalStyles="fontSize:40px"
        *ngIf="isDesktop"
      />
      <typography
        variant="info-value"
        [content]="lowCellVoltage.toFixed(3) + 'V'"
        additionalStyles="fontSize:20px"
        *ngIf="!isDesktop"
      />
      <typography variant="info-subtitle" content="Low Cell" additionalStyles="fontSize:15px" />
    </vstack>

    <!--TODO: temp fix for divider setting pixel height: is only way for divider to show-->
    <divider style="height: 100px"></divider>

    <vstack style="width: 10%">
      <hstack>
        <typography
          variant="info-value"
          [content]="highCellVoltage.toFixed(3) + 'V'"
          additionalStyles="fontSize:40px"
          *ngIf="isDesktop"
        />
        <typography
          variant="info-value"
          [content]="highCellVoltage.toFixed(3) + 'V'"
          additionalStyles="fontSize:20px"
          *ngIf="!isDesktop"
        />
      </hstack>
      <typography variant="info-subtitle" content="High Cell" additionalStyles="fontSize:15px" />
    </vstack>

    <!--On desktop view we don't want the graph component to be in a horizontal stack-->
    <high-low-cell-graph style="width: 70%; padding-bottom: 5vh" [resetGraph]="resetGraph" *ngIf="isDesktop">
    </high-low-cell-graph>
  </hstack>
</info-background>
