`
<div class="latency-display-container" [style.height.px]="height" [style.width.px]="width">
  <div class="latency-display-header">
    <div class="latency-display-icon"><mat-icon>timelapse</mat-icon></div> 
    <div class="latency-display-title">Latency</div>
  </div>
  <div class="latency-display-dot" [style.background-color]="mapColor(latency, lowVal, medVal, highVal)"></div>
  <div class="latency-display-value">
    {{ latency }} <span class="latency-display-unit">ms</span>
  </div>
</div>
  `