/* Use a flex container for the header to align the icon and title */
.latency-display-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the icon with appropriate size and color */
.latency-display-icon {
  color: white;
  font-size: 24px; /* Adjust icon size as needed */
  margin-right: 10px; /* Space between the icon and the title */
}

/* Style the title */
.latency-display-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* Adjust title size as needed */
  font-weight: bold;
}

/* Style the main value and the dot using flexbox to align them horizontally */
.latency-display-value {
  font-size: 48px; /* Adjust main value size as needed */
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing from the title to the value as needed */
}

/* Style the dot */
.latency-display-dot {
  height: 15px; /* Adjust dot size as needed */
  width: 15px;
  border-radius: 50%;
  margin-right: 10px; /* Space between the dot and the value */
  background-color: inherit; /* Background color is set dynamically by Angular */
}

/* Style the unit */
.latency-display-unit {
  font-size: 20px; /* Adjust unit size as needed */
  color: gray;
  margin-left: 5px; /* Space between the value and the unit */
  padding-top: 10px;
}
