<!-- dynamic-form.component.html -->
<form class="form" [formGroup]="form">
  @for (field of fields(); track field) {
    <div class="flex flex-column gap-1">
      @if (field.label) {
        <label class="text-sm font-semibold mb-1 required">{{ field.label }}</label>
      }
      <input
        [attr.placeholder]="field.placeholder"
        [formControlName]="field.name"
        [type]="field.type"
        [value]="'boston'"
        pInputText
        class="form-control w-full"
        [ngClass]="{
          'ng-invalid ng-dirty':
            form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)
        }"
      />

      <!-- Error Message -->
      <div
        class="error-msg"
        *ngIf="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)"
      >
        {{ getErrorMessage(field) }}
      </div>
    </div>
  }

  <button pButton type="button" [disabled]="!form.valid" label="Submit" (click)="onSubmit()"></button>
</form>
