<info-background icon="directions_car" title="Transmission">
  <vstack>
    <hstack>
      <hstack>
        <!-- <typography variant="info-value" [content]="gear.toString()"></typography>
         <typography variant="info-unit" content="gear" /> -->
      </hstack>
    </hstack>
    <hstack>
      <hstack>
        <!-- <typography variant="info-value" [content]="gear.toString()"></typography>
        <typography variant="info-unit" content="gear" /> -->
      </hstack>
    </hstack>
  </vstack>
</info-background>
