<info-background icon="electric_car" title="Motor">
  <hstack>
    <vstack style="padding-left: 20px">
      <hstack spacing="5px">
        <typography variant="info-value" [content]="motorTemp.toString() + '°'" />
        <div class="thermometer-container">
          <thermometer [temperature]="motorTemp" [min]="-15" [max]="30" />
        </div>
      </hstack>
      <typography variant="info-subtitle" content="Motor Temp" />
    </vstack>

    <div class="divider-line" style="height: 150px"></div>

    <vstack spacing="0px">
      <hstack spacing="0px">
        <vstack spacing="0px">
          <div class="usage-container">
            <typography variant="info-value" [content]="totalUsage.toString()" />
            <typography variant="unit" [content]="'kWh'" />
          </div>
          <span class="subsubtitle">Total Consumption</span>
        </vstack>
        <pie-chart [data]="piechartData" />
      </hstack>
      <div style="display: flex; justify-content: center; align-items: center">
        <typography variant="info-subtitle" content="Motor Power Consumption" />
      </div>
    </vstack>
  </hstack>
</info-background>
