<div class="image-container" style="margin-right: 20px; margin-left: 20px">
  <vstack spacing="30px">
    <vstack spacing="20px">
      <hstack style="width: 100%" spacing="900px">
        <hstack spacing="20px">
          <sidebar-toggle />
          <typography style="width: 100%; text-align: center" variant="large-header" [content]="time | date: 'HH:mm:ss'" />
        </hstack>
        <typography variant="header" content="{{ time | date: 'MM/dd/yyyy' }} | {{ location }} " />
      </hstack>

      <hstack style="width: 100%">
        <long-vs-lat style="width: 100%"></long-vs-lat>
        <gas-brake-pos style="width: 100%"></gas-brake-pos>
        <ride-height-time style="width: 100%"></ride-height-time>
      </hstack>

      <hstack style="width: 100%">
        <shot-vs-time style="width: 100%"></shot-vs-time>
        <steerPos-vs-time style="width: 100%"></steerPos-vs-time>
        <steerPos-vs-accel style="width: 100%"></steerPos-vs-accel>
      </hstack>
    </vstack>
    <handling-paginator></handling-paginator>
  </vstack>
</div>
