<div class="modal-container">
  <p-carousel
    [value]="runs"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
    (onPage)="handlePageChange($event)"
  >
    <ng-template let-run let-i="index" pTemplate="item">
      <div class="run-card">
        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile>
            <typography class="left" variant="subheader" [content]="'Run #' + run.id" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="right" variant="subheader" [content]="run.driverName" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="left" variant="subheader" [content]="datePipe(run.time)" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="right" variant="subheader" [content]="run.systemName" />
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <typography variant="subheader" class="right" [content]="run.locationName" />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="select-button-container">
        <p-button class="run-select-button" (onClick)="selectRun(run)">Select this Run</p-button>
      </div>
    </ng-template>
  </p-carousel>
</div>
