<div class="modal-container">
  <button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
  <p-carousel [value]="runs" 
              [numVisible]="1" 
              [numScroll]="1" 
              [circular]="true" 
              [showIndicators]="false"
              (onPage)="handlePageChange($event)">
    <ng-template pTemplate="header">
      <typography additionalStyles="margin-left: 10px;" variant="header" content="Run History" />
    </ng-template>
    <ng-template let-run let-i="index" pTemplate="item">
      <div class="run-card">
        <mat-grid-list cols="2" rowHeight="40px">
          <mat-grid-tile>
            <typography class="left" variant="subheader" [content]="'Run #' + run.id" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="right" variant="subheader" [content]="run.driverName" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="left" variant="subheader" [content]="datePipe(run.time)" />
          </mat-grid-tile>
          <mat-grid-tile>
            <typography class="right" variant="subheader" [content]="run.systemName" />
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <typography variant="subheader" class="right" [content]="run.locationName" />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
            <div class="select-button-container">
        <button mat-button class="run-select-button" (click)="selectRun(run, 1)">Select this Run</button>
      </div>
    </ng-template>
  </p-carousel>
  
  <div class="select-number-run">
    <button *ngFor="let run of runs; let idx = index" 
            mat-button 
            class="number_buttons" 
            [ngClass]="{'highlight': currentIndex === idx}" 
            (click)="selectRun(run, idx)">
      {{ idx + 1 }}
    </button>
  </div>
