/*
Style for select run and close dialog buttons
*/
.runselectbutton {
  border-radius: 10px;
  color: #262626;
  background-color: white;
  margin-left: 38%;
  margin-top: 20px;
}

.closebutton {
  background-color: #262626;
  color: #ffff;
  position: absolute;
  top: 0;
  right: 0;
  scale: 75%;
}

/* Container that holds the carousel */
.modal-container {
  height: 250px;
  background-color: #262626;
}

/* Carousel contents and style overrides */

.title {
  font-size: 24px;
  color: white;
  margin-top: 5px;
}
/* this looks stupid but is actually useful*/
:host ::ng-deep .p-carousel-container {
  width: 99%;
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  background-color: #262626;
  border-color: #262626;
  color: white;
  margin-bottom: 40px;
}

.runcard {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  color: #ffff;
  height: 120px;
  margin-left: 8px;
  margin-right: 8px;
}

/* should eventually be replaced with Grid component*/

.row {
  display: flex;
  background-color: #262626;
  color: #ffff;
  height: 40px;
  width: 100%;
}

.left {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 0px;
  text-align: left;
}

.right {
  font-size: 15px;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}
