<info-background title="Acceleration" icon="speed" backgroundColor="#2c2c2c">
  <vstack>
    <hstack style="width: 100%">
      <div class="graph-container">
        <graph-component [data]="xData" color="#4d9ac9" title="Longitudinal Acceleration" graphContainerId="xGraph" />
        <typography variant="info-subtitle" content="Longitudinal Acceleration" additionalStyles="margin-top: 10px" />
      </div>
      <div class="right-panel">
        <div class="vBar"></div>
        <div class="max-container">
          <div class="max">
            <typography
              variant="header"
              content="{{ xMax }}"
              additionalStyles="fontSize: 50px; padding: 0px; margin: 0px;"
            />
            <typography
              variant="info-subtitle"
              content="g"
              additionalStyles="fontSize: 20px; margin-bottom: 10px; color: #797a7a"
            />
          </div>
          <typography variant="info-subtitle" content="Peak Long. Accel." additionalStyles="" />
        </div>
      </div>
    </hstack>
    <div class="hBar"></div>
    <hstack style="width: 100%">
      <div class="graph-container">
        <graph-component [data]="yData" color="#17ff00" title="Lateral Acceleration" graphContainerId="yGraph" />
        <typography variant="info-subtitle" content="Lateral Acceleration" additionalStyles="margin-top: 10px" />
      </div>
      <div class="right-panel">
        <div class="vBar"></div>
        <div class="max-container">
          <div class="max">
            <typography
              variant="header"
              content="{{ yMax }}"
              additionalStyles="fontSize: 50px; padding: 0px; margin: 0px;"
            />
            <typography
              variant="info-subtitle"
              content="g"
              additionalStyles="fontSize: 20px; margin-bottom: 10px; color: #797a7a"
            />
          </div>
          <typography variant="info-subtitle" content="Peak Lat. Accel." additionalStyles="" />
        </div>
      </div>
    </hstack>
  </vstack>
</info-background>
