<div class="container" (click)="onClick()" [style]="{ 'background-color': backgroundColor }">
  @if (title) {
    <div class="title-container">
      <div class="title">
        <mat-icon @if="icon" aria-hidden="false" [fontIcon]="icon"></mat-icon>
        <mat-icon @if="svgIcon" aria-hidden="false" [svgIcon]="svgIcon"></mat-icon>
        <typography variant="info-title" content="{{ title }}" />
      </div>
      <div @if="button">
        <mat-icon @if="button" aria-hidden="false" (click)="button.onClick()" [fontIcon]="button.icon"></mat-icon>
      </div>
    </div>
  }
  <typography @if="onClick" additionalStyles="text-align: left;" variant="info-subtitle" content="Click for more details" />
  <ng-content></ng-content>
</div>
