mat-icon {
  color: white;
  margin-right: 12px;
}

.container {
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.container.sliced-left-corner {
  padding: 15px 12px 12px 15px;
  clip-path: polygon(var(--slice-x, 125px) 0, 100% 0, 100% 100%, 0 100%, 0 var(--slice-y, 145px));
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title.sliced-left-corner {
  padding-left: var(--slice-x, 120px);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
