<div class="background">
  <mat-list>
    <mat-list-item *ngFor="let node of nodesWithVisibilityToggle" style="height: 100%">
      <sidebar-card [title]="node.name" (click)="toggleDataTypeVisibility(node)"> </sidebar-card>
      <mat-list *ngIf="node.dataTypesAreVisible" @toggleExpand>
        <mat-list-item *ngFor="let dataType of node.dataTypes">
          <sidebar-card [title]="dataType.name" [subtitle]="dataType.unit" />
        </mat-list-item>
      </mat-list>
    </mat-list-item>
  </mat-list>
</div>
