<div [class]="isDesktop() ? '' : 'mobile-subcontainer'">
  <sidebar-card
    [title]="node().name"
    (click)="onSelect(node())"
    [dropDown]="node().nodes.value.length > 0"
    [open]="node().subnodesVisible"
    [topicName]="node().topicName"
    [isDesktop]="isDesktop()"
  />
  @if (node().subnodesVisible) {
    <div
      [class]="isDesktop() ? '' : 'mobile-subcontainer'"
      [@toggleExpand]="{ value: (isDesktop() ? 'desktop' : 'mobile') + '-' + node().subnodesVisible }"
    >
      @for (subNode of node().nodes | async | nodeFilter: 'name' : searchFilter(); track subNode) {
        <div [class]="isDesktop() ? 'desktop-subcontainer' : 'mobile-subcontainer'">
          <node-display
            [style]="isDesktop() ? 'width: 95%; margin-left: 30px' : ''"
            [node]="subNode"
            [searchFilter]="searchFilter()"
            [isDesktop]="isDesktop()"
          />
        </div>
      }
    </div>
  }
</div>
