<info-background
  [title]="this.getTitle()"
  svgIcon="battery_charging_2"
  [slicedLeftCorner]="true"
  [selectorConfigs]="[this.currentSegmentSelectorConfig, this.allSegSelectorConfig]"
>
  <div style="padding-top: 20px"></div>
  @if (this.view.toString() === 'Temperature') {
    <hstack alignItems="end" justifyContent="end" spacing="1vw">
      @for (cell of betaCells.slice().reverse(); track cell) {
        <cell-tile
          [value]="cell.temp"
          [color]="this.getTempColor(cell.temp)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [sevenBoxLayout]="true"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
    <div style="padding-top: 20px"></div>
    <hstack alignItems="end" justifyContent="end" spacing="1vw">
      @for (cell of alphaCells; track cell) {
        <cell-tile
          [value]="cell.temp"
          [color]="this.getTempColor(cell.temp)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [sevenBoxLayout]="true"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
  } @else if (this.view.toString() === 'Voltage') {
    <hstack alignItems="end" justifyContent="end" spacing="0.5vw">
      @for (cell of betaCells.slice().reverse(); track cell) {
        <cell-tile
          [value]="cell.voltage"
          [color]="this.getVoltColor(cell.voltage)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
    <div style="padding-top: 20px"></div>
    <hstack alignItems="end" justifyContent="end" spacing="0.5vw">
      @for (cell of alphaCells; track cell) {
        <cell-tile
          [value]="cell.voltage"
          [color]="this.getVoltColor(cell.voltage)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
  } @else if (this.view === 'Balancing') {
    <hstack alignItems="end" justifyContent="end" spacing="0.5vw">
      @for (cell of betaCells.slice().reverse(); track cell) {
        <cell-tile
          [boleanValue]="cell.balancing"
          [color]="this.getBalancingColor(cell.balancing)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
    <div style="padding-top: 20px"></div>
    <hstack alignItems="end" justifyContent="end" spacing="0.5vw">
      @for (cell of alphaCells; track cell) {
        <cell-tile
          [boleanValue]="cell.balancing"
          [color]="this.getBalancingColor(cell.balancing)"
          (click)="this.cellClicked(cell)"
          [currentView]="this.view"
          [boxShadowColor]="this.isSelectedCell(cell)"
          [upperTitle]="cell.cellNumber.toString()"
        ></cell-tile>
      }
    </hstack>
  }
</info-background>
