<info-background>
    <div style="display: flex; justify-content: center; align-items: center; height: 80%">
      <vstack>
        <hstack>
          <typography variant="header" content="Connection"></typography>
        </hstack>
        <hstack>
          <div class="connection-dot" [style.background-color]="getConnectedColor(connected)"></div>
          <typography variant="info-subtitle" [content]="getConnectedStatus(connected)" />
        </hstack>
      </vstack>
    </div>
  </info-background>