<info-background svgIcon="thermostat" title="Cell Temp">
  <hstack>
    <vstack style="width: 10%">
      <hstack>
        <typography variant="info-value" [content]="avgTemp.toString() + '°'" />
      </hstack>
      <typography variant="info-subtitle" content="Avg. Temp" />
    </vstack>

    <!--TODO: temp fix for divider setting pixel height: is only way for divider to show-->
    <divider style="height: 100px"></divider>

    <vstack style="width: 10%">
      <hstack>
        <typography variant="info-value" [content]="maxTemp.toString() + '°'" />
      </hstack>
      <typography variant="info-subtitle" content="Max. Temp" />
    </vstack>
    <!--TODO: (temp fix: padding-bottom) temp fix for voltage graph being centered (and not all the way on bottom of comp)-->
    <!--if it is not desktop, we want to show graph seperately... TODO: need to figure out best logic for enforcing that this is done... 
    or just don't enforce -->
    <cell-temp-graph style="width: 80%; padding-bottom: 5vh"></cell-temp-graph>
  </hstack>
</info-background>
