.connection-display {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%
}

.connection-display-data {
  display: flex;
  justify-content: center;
}

.connection-dot {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  