<info-background>
    <div class="connection-display">
      <vstack>
        <hstack>
          <typography variant="header" content="Connection"></typography>
        </hstack>
        <hstack spacing="5px">
          <div class="connection-dot" [style.background-color]="getConnectedColor(connected)" 
                additionalStyles="height: 15px;"></div>
          <typography variant="info-subtitle" [content]="getConnectedStatus(connected)" />
        </hstack>
      </vstack>
    </div>
  </info-background>