<info-background>
  <div class="connection-display">
    <div class="connection-display-title">
      <typography variant="header" content="Connection" additionStyles="font-size: 40px;"></typography>
    </div>

    <div class="connection-display-data">
      <div
        class="connection-dot"
        [style.background-color]="getConnectedColor(connected)"
        additionalStyles="height: 15px;"
      ></div>
      <typography variant="info-subtitle" [content]="getConnectedStatus(connected)" />
    </div>
  </div>
</info-background>

<!-- <vstack>
    <hstack>
      <typography variant="header" content="Connection"></typography>
    </hstack>
    <hstack spacing="5px">
      <div class="connection-dot" [style.background-color]="getConnectedColor(connected)" 
            additionalStyles="height: 15px;"></div>
      <typography variant="info-subtitle" [content]="getConnectedStatus(connected)" />
    </hstack>
  </vstack> -->
