.navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  padding: 10px;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
.bms {
  color: red;
}
