<div class="battery">
  >
  <div
    class="battery-nub"
    (click)="toggleIsCorrect()"
    [@toggleClick]="clicked"
    [ngStyle]="{
      height: nubHeight,
      width: nubWidth,
      'background-color': backColor,
      'border-top-left-radius': roundCorner,
      'border-top-right-radius': roundCorner
    }"
  ></div>
  <div
    class="battery-bar"
    [ngStyle]="{
      'background-color': backColor,
      height: heightpx,
      width: widthpx,
      'border-top-left-radius': adjustedBotCorner,
      'border-top-right-radius': adjustedBotCorner,
      'border-bottom-left-radius': roundCorner,
      'border-bottom-right-radius': roundCorner
    }"
  >
    <div
      class="battery-bar"
      [ngStyle]="{
        'background-color': fillColor,
        height: batHeight,
        width: widthpx,
        'border-top-left-radius': adjustedTopCorner,
        'border-top-right-radius': adjustedTopCorner,
        'border-bottom-left-radius': roundCorner,
        'border-bottom-right-radius': roundCorner
      }"
    ></div>
  </div>
</div>
