<div class="battery">
  >
  <div class="battery-nub" (click)="toggleIsCorrect()" [@toggleClick]="clicked"></div>
  <div
    class="battery-bar"
    [ngStyle]="{
      'background-color': fillColor,
      height: heightpx,
      width: widthpx,
      'border-radius': roundCorner
    }"
  >
    <ng-template [ngIf]="full == false">
      <div
        [ngStyle]="{
          'background-color': backColor,
          height: batHeight,
          width: widthpx,
          'border-top-left-radius': roundCorner,
          'border-top-right-radius': roundCorner
        }"
      ></div>
    </ng-template>
  </div>
</div>
