@if (dataTypesIsError) {
  <div>
    <error-page [errorMessage]="dataTypesError!.message" />
  </div>
} @else {
  @if (!dataTypes || dataTypesIsLoading) {
    <div>
      <loading-page />
    </div>
  } @else {
    <div class="container">
      <graph-header class="graph-header" [rightHeader]="'Fault: ' + selectedFault?.name" />
      <div class="content-div">
        <graph-sidebar [dataTypes]="dataTypes!" [selectDataType]="setSelectedDataType" class="desktop-sidebar" />
        <div class="right-container">
          <graph [valuesSubject]="selectedDataTypeValuesSubject" class="graph" />
          <fault-graph-caption [dataType]="selectedDataType" [onClearDataType]="clearDataType" class="graph-caption" />
        </div>
        <graph-sidebar [dataTypes]="dataTypes!" [selectDataType]="setSelectedDataType" class="mobile-sidebar" />
      </div>
    </div>
  }
}
