<info-background svgIcon="electric_meter" title="Cell Voltage" [button]="resetGraphButton" *ngIf="isDesktop">
  <hstack spacing="30px">
    <vstack style="width: 10%">
      <hstack>
        <typography
          variant="info-value"
          [content]="delta.toFixed(3) + 'V'"
          additionalStyles="fontSize:30px"
          *ngIf="isDesktop"
        />
        <typography
          variant="info-value"
          [content]="delta.toFixed(3) + 'V'"
          additionalStyles="fontSize:20px"
          *ngIf="!isDesktop"
        />
      </hstack>
      <typography variant="info-subtitle" content="Delta" additionalStyles="fontSize:15px" />
    </vstack>

    <!--TODO: temp fix for divider setting pixel height: is only way for divider to show-->
    <divider style="height: 100px"></divider>

    <vstack style="width: 10%">
      <typography
        variant="info-value"
        [content]="lowCellVoltage.toFixed(3) + 'V'"
        additionalStyles="fontSize:30px"
        *ngIf="isDesktop"
      />
      <typography
        variant="info-value"
        [content]="lowCellVoltage.toFixed(3) + 'V'"
        additionalStyles="fontSize:20px"
        *ngIf="!isDesktop"
      />
      <typography variant="info-subtitle" content="Low Cell" additionalStyles="fontSize:15px" />
    </vstack>

    <!--TODO: temp fix for divider setting pixel height: is only way for divider to show-->
    <divider style="height: 100px"></divider>

    <vstack style="width: 10%">
      <hstack>
        <typography
          variant="info-value"
          [content]="highCellVoltage.toFixed(3) + 'V'"
          additionalStyles="fontSize:30px"
          *ngIf="isDesktop"
        />
        <typography
          variant="info-value"
          [content]="highCellVoltage.toFixed(3) + 'V'"
          additionalStyles="fontSize:20px"
          *ngIf="!isDesktop"
        />
      </hstack>
      <typography variant="info-subtitle" content="High Cell" additionalStyles="fontSize:15px" />
    </vstack>

    <high-low-cell-graph
      style="width: 75%; padding-bottom: 35px"
      [highVoltsData]="highVoltsData"
      [lowVoltsData]="lowVoltsData"
    >
    </high-low-cell-graph>
  </hstack>
</info-background>
<high-low-cell-mobile
  *ngIf="!isDesktop"
  [delta]="delta"
  [lowCellVoltage]="lowCellVoltage"
  [highCellVoltage]="highCellVoltage"
  [highVoltsData]="highVoltsData"
  [lowVoltsData]="lowVoltsData"
  [resetGraphButton]="resetGraphButton"
></high-low-cell-mobile>
