<h1>{{ title }}</h1>

<div *ngIf="queryResponse.isLoading | async">
  Loading data...
</div>

<div *ngIf="(queryResponse.isLoading | async) === false">
  <div *ngIf="queryResponse.isError | async; else dataContent">
    Error loading data: {{ (queryResponse.error | async)?.message }}
  </div>
  <ng-template #dataContent>
    <!-- Display your data here -->
    <ul>
      <li>Nodes</li>
      <li *ngFor="let item of (queryResponse.data | async)">
        data: {{ item.name }} <!-- You can display properties of 'item' here -->
      </li>
    </ul>
  </ng-template>
</div>