<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <typography style="width: 100%; text-align: center" variant="large-header" content="Argos" />
  </ng-template>
  <ng-template pTemplate="headless">
    <sidebar-chip icon="home" value="Home" (click)="navigateTo('/landing')" />
    <sidebar-chip icon="bar_chart" value="Graph" (click)="navigateTo('/graph')" />
    <sidebar-chip icon="map" value="Map" (click)="navigateTo('/map')" />
    <sidebar-chip icon="backup" value="Charybdis" (click)="navigateTo('/charybdis')" />
    <sidebar-chip icon="error" value="Fault" (click)="navigateTo('fault')" />
  </ng-template>
</p-sidebar>
