<info-background>
  <div class="latency-display">
    <vstack>
      <hstack>
        <typography variant="header" content="Latency" />
      </hstack>
      <hstack>
        <div class="latency-display-body">
          <div class="latency-display-dot" [style.background-color]="mapColor(latency, medVal)"></div>
          <typography
            variant="subheader"
            [content]="latency.toString()"
            additionalStyles="padding-right: 2px; margin-top: 0px; margin-bottom: 0px;"/>
          <typography variant="info-subtitle" content="ms" additionalStyles="font-size: 15px;" />
        </div>
      </hstack>
    </vstack>
  </div>
</info-background>
